@model Ordinacia.ViewModels.PatientMedicinesVM

@foreach (var med in Model.Medicines)
{
    <tr>
        <td><button class="btn btn-outline-danger btn-sm" onclick="deleteMed(this)" data-med="@med.MedicineID" data-pat="@Model.PatientId">-</button></td>
        <td>@med.Name</td>
        <td>€@med.Price</td>
        <td>@med.PharmacyName</td>
    </tr>
}
<tr>
    <td colspan="2">Total price:</td>
    <td>€@Model.Price</td>
    <td>
        <a href="/Doctor/PrintMedicines?patient=@Model.PatientId" target="_blank">
            <button class="btn btn-outline-info btn-sm">Save</button>
        </a>
    </td>
</tr>