@model Ordinacia.Models.DoctorM
@{
    ViewBag.Title = "Ordinacia app";
    Layout = "_Layout.cshtml";
}

 
<div class="text-center">
    <h2>Welcome</h2>
    Doctor @Model.FirstName @Model.LastName <br/>
    Specialization in @Model.Specialization <br/>
    <a href="/Doctor/Patients" class="btn btn-primary">Patients</a>
    <a href="/Doctor/CoWorkers" class="btn btn-primary">Co-workers</a>
</div>
