@using System.Web.Mvc.Html
@model Ordinacia.Models.DocPatientsVM

<div class="card row overflow-auto" style="height: 75%">
    <div class="card-header">
        Medicines<br/>
        <select id="selection">
            @foreach (var pharm in Model.Medicines.Keys)
            {
                <option value="@pharm">
                    @pharm
                </option>
            }
        </select>
    </div>
    <div class="card-body">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody class="card-body" id="med-data">
            
            </tbody>
        </table>
    </div>
    <script>
        document.querySelector("#selection").addEventListener(oninput, function() {
            document.querySelector("#med-data").insertAdjacentHTML(@{Html.RenderAction("RenderMedicines");})
        })
        
    </script>
</div>