@using System.Web.UI.WebControls
@model Ordinacia.Models.DocPatientsVM
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Patients";
}

<div class="container col" style="height: 90%">
    <div class="col-8 float-left overflow-auto" style="height: 100%">
        <div style="height: 60%">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                </tr>
                </thead>
                @foreach (var patient in Model.Patients)
                {
                    <tr>
                        <td>
                            <div class="btn-group" data-patient-id="@patient.PatientID">
                                <button class="btn btn-sm btn-outline-danger" onclick="deletePatient(this)">Delete</button>
                                <button class="btn btn-sm btn-outline-primary" onclick="viewButton(this)">View</button>
                            </div>
                        </td>
                        <td>@patient.FirstName</td>
                        <td>@patient.LastName</td>
                    </tr>
                }
            </table>
            <button class="btn btn-outline-success" onclick="addPatient()">Add new</button>
        </div>
        <div id="patient" data-id="" style="height: 40%">

        </div>
    </div>

    <div class="col-4 float-right" style="height: 100%">
        <div class="card card-body row overflow-auto" style="height: 34%">
            <table class="table table-hover overflow-auto">
                <thead>
                <tr>
                    <th colspan="4" class="text-center">Patient's medicines</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Pharmacy</th>
                </tr>
                </thead>
                <tbody id="med-patient">
                </tbody>
            </table>
        </div>
        <div class="card card-body row overflow-auto" style="height: 66%">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2">Medicines</th>
                    <th>
                        @Html.DropDownListFor(
                            x => x.CurrentPharmacy,
                            new SelectList(Model.Pharmacies),
                            "Choose pharmacy",
                            new {onchange = "renderMedicines()", onload = "renderMedicines()", @class = "float-right custom-select col-7"})
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody id="med-data">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Doc/Patients.js"></script>