@model Ordinacia.ViewModels.DocMedicinesVM
@foreach (var med in Model.Medicines)
{
    <tr>
        <td>
            <button class="btn btn-outline-success btn-sm" onclick="addMed(this)" data-med="@med.MedicineID" data-pat="@Model.CurrentPatientId">+</button>
        </td>
        <td>
            @med.Name
        </td>
        <td>
            €@med.Price
        </td>
    </tr>
}
@* print everything to the table *@
