@model List<Ordinacia.Data_Access.Medicine>

@foreach (var med in Model)
{
    <tr>
        <td>
            @med.Name
        </td>
        <td>
            @med.PharmacyName
        </td>
        <td>
            €@med.Price
        </td>
    </tr>
}
<tr>
    <th>
        <a href="/InsuranceWorker/PrintMedicines?patient=@ViewBag.Id" class="btn btn-outline-info">Save</a>
    </th>
    <th>
        Total price:
    </th>
    <th>
        @ViewBag.Price
    </th>
</tr>